<div class="container">
  <div class="card">
    <div class="card-header">File/Folder Upload</div>
    <div class="card-body">
      <div class="upload-info">
        <span>Supported formats .png, .jpg, .jpeg</span>
      </div>
      <div class="upload-form" *ngIf="!isStatsVisible">
        <div class="lt-form">
          <label for="fileInput" class="form-label">Select File(s) to Upload:</label>
          <label for="folderInput" class="form-label">Select Folder to Upload:</label>
        </div>
        <div class="rt-form">
          <input type="file" class="form-control" id="fileInput" name="uploadedFile" accept=".zip,.png,.jpg"
            (change)="handleSelectedFiles($event)" multiple />
          <input type="file" class="form-control" id="folderInput" name="uploadedFolder"
            (change)="handleSelectedFiles($event)" webkitdirectory />
        </div>
      </div>
      <div class="stats-form" *ngIf="isStatsVisible">
        <div class="stat">
          <div class="row">
            <span class="stat-label">File Count:</span>
            <span class="stat-value">{{ filesMetaData.fileCount }}</span>
          </div>
          <div class="row">
            <span class="stat-label">Total Size:</span>
            <span class="stat-value">{{ bytesToMegabytes(filesMetaData.totalSize) }} Megabytes</span>
          </div>
        </div>
        <div class="stat"> 
          <span class="stat-label">File Names</span>
          <ul class="file-list">
            <li *ngFor="let item of filesMetaData.fileNames;let i=index" [ngClass]="{ 'option': i >= 0, 'even-bg': i % 2 === 0, 'odd-bg': i % 2 !== 0 }">
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="stat">
          <span class="stat-label">Upload Details</span>
          <div class="details-form">
            <div class="row form-batch">
              <label for="batchName">Batch</label>
              <input type="text" class="form-control inputsize" name="batchName" [(ngModel)]="batchName" placeholder="train_batch" />
            </div>
            <div class="row form-batch">
              <label for="batchID">Job ID</label>
              <input type="text" class="form-control inputsize" name="batchID" [(ngModel)]="batchJobID" [disabled]="true"/>
            </div>
            <div class="row form-batch">
              <label for="batchTimestamp">Timestamp</label>
              <input type="text" class="form-control inputsize" name="batchTimestamp" [(ngModel)]="batchTimestamp" [disabled]="true" />
            </div>
            <div class="row form-batch">
              <label for="batchComment">Comment</label>
              <textarea class="form-control inputsize" name="batchComment" [(ngModel)]="batchComment" placeholder="Add comments"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button id="cancelButton" *ngIf="!isStatsVisible" class="btn btn-cancel">Cancel</button>
        <button id="nextButton" *ngIf="!isStatsVisible" class="btn btn-primary" (click)="handleNext()">Next</button>
        <button id="cancelButton" *ngIf="isStatsVisible" class="btn btn-cancel"
          (click)="isStatsVisible=false">Back</button>
        <button id="nextButton" *ngIf="isStatsVisible" class="btn btn-primary" (click)="uploadFiles()">Upload</button>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
</div>