<div class="container">
    <div class="lt-menu">
        <h3>
            <a [routerLink]="['/']">Image Studio</a>
        </h3>
    </div>
    <div class="rt-menu">
        <a class="link-item" [routerLink]="['/']">
            <fa-icon [icon]="fasHomeAlt"></fa-icon>
            <span>Home</span>
        </a>
        <a class="link-item" [routerLink]="['/upload']">
            <fa-icon [icon]="fasUpload"></fa-icon>
            <span>Upload</span>
        </a>
        <a class="link-item" [routerLink]="['/preprocess']">
            <fa-icon [icon]="fasIndustry"></fa-icon>
            <span>Preprocess</span>
        </a>
    </div>
</div>
