<div class="container">
    <div class="card-dataset">
        <div class="card-header">
            <fa-icon [icon]="fasDatabase"></fa-icon>
            <span>Datasets</span>
        </div>
        <div class="card-body">
            <span class="label-text">
                Select and Load
            </span>
            <hr>
            <ul class="dataset-list">
                <li *ngFor="let item of datasets;let i=index"
                    [ngClass]="{ 
                        'option': i >= 0, 
                        'even-bg': i % 2 === 0, 
                        'odd-bg': i % 2 !== 0,
                        'selected': item.id === selectedDatasetID
                     }"
                    (click)="onDatasetClick(item.id)">
                    {{ item.name }}
                </li>
            </ul>
            <hr>
            <button class="btn btn-primary load-dataset-btn" (click)="loadDataset()">
                <fa-icon [icon]="fasAnglesRight"></fa-icon>
            </button>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card-image-editor">
        <div class="card-header">
            <fa-icon [icon]="fasDatabase"></fa-icon>
            <span *ngIf="selectedDataset">Dataset
                <fa-icon [icon]="fasAnglesRight"></fa-icon> {{ selectedDataset.name }}
            </span>
            
        </div>
        <div class="card-body">
            <div class="label-text">
                Pre-Process
            </div>
            <hr>
            <div class="image-gallery" *ngIf="selectedDataset">
                <div class="gallery-item" *ngFor="let item of dummyImages">
                    <img class="gallery-image" src="{{ item.src }}" alt="" />
                    <div class="gallery-info">
                        <span>Classes</span>
                        <span>{{ item.classes }}</span>
                    </div>
                    <div class="button-overlay">
                        <button class="btn btn-primary">Annotate</button>
                        <button class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>
            <hr>
            <!-- <div *ngIf="selectedDataset" class="pagination-container">
                <span class="pagination">
                    <fa-icon [icon]="fasChevronLeft"></fa-icon>
                </span>
                <span class="pagination-active">85</span>
                <span class="pagination">
                    <fa-icon [icon]="fasChevronRight"></fa-icon>
                </span>
            </div> -->
        </div>
        <div class="card-footer"></div>
    </div>
</div>